.DS_Store
frontend/node_modules
frontend/amazon_creds

# this env can be created using create_env.sh
backend/gamejunx_env

backend/app/__pycache__
backend/app/controller/__pycache__

# this has to be created by the dev.
#|------------------------------------ secret.py ------------------------------------| #
#| free_games_http_headers = {                                                       |
#|     "X-RapidAPI-Key": '[key for free games API]',                                 |
#|     "X-RapidAPI-Host": "free-to-play-games-database.p.rapidapi.com"               |
#| }                                                                                 |
#| sale_games_http_headers = {                                                       | 
#|     "X-RapidAPI-Key": '[key for games on sale API]',                              |
#|     "X-RapidAPI-Host": "cheapshark-game-deals.p.rapidapi.com"                     | 
#| }                                                                                 | 
#|                                                                                   |
#| aws_database_password = '[passwd]'                                                |
#| aws_database_uri = [AWS DB URL]                                                   |
#| jwt_token_key = [JWT secret for creating token]                                   |
#|-----------------------------------------------------------------------------------|
backend/app/controller/secret.py
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
