.DS_Store
frontend/node_modules
frontend/amazon_creds
backend/gamejunx_env
backend/app/__pycache__
backend/app/controller/__pycache__
backend/app/controller/secret.py
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
